@import "../../../mixings.scss";

.job {
  &__main-section {
    background-color: var(--bg-elements);
    border-radius: 0.5rem 0.5rem 0 0;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;

    p {
      margin-top: 3rem;
    }

    button {
      @include CountriesFontSemiBold;
      text-align: center;
      align-self: center;
    }

    & > div {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      color: var(--clr-text);
    }
  }

  &__details-location {
    @include CountriesFontBold;
    color: var(--clr-violet);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__details-info {
    display: flex;
    color: var(--clr-text-secondary);
  }
}

@media (max-width: 764px) {
  .job {
    &__main-section > div {
      flex-direction: column;

      button {
        margin-top: 4rem;
        width: 100%;
      }
    }
  }
}
