@import "../../mixings.scss";

button {
  @include CountriesFontBold;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.primary {
  color: #fff;
  background-color: var(--clr-primary);

  &:hover {
    opacity: 0.7;
  }
}

.secondary {
  color: var(--btn-clr-secondary);
  background-color: var(--btn-secondary);

  &:hover {
    background-color: var(--btn-secondary-hover);
  }
}
