.job {
  &__application-section {
    background-color: var(--bg-elements);
    width: 100%;
    margin-top: 75px;
  }

  &__application-section-content {
    display: flex;
    justify-content: space-between;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;

    button {
      padding: 0.8rem 1.8rem;
      align-self: center;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

@media (max-width: 1200px) {
  .job {
    &__application-section-content {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 764px) {
  .job {
    &__application-section-content > div {
      display: none;
    }
    &__application-section-content > button {
      width: 100%;
    }
  }
}
