@import "../../../mixings.scss";

.template-section {
  background-color: var(--bg-elements);
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  ul,
  li span,
  p {
    color: var(--clr-text-secondary);
  }

  li span {
    @include CountriesFontRegular;
  }

  li {
    margin: 10px 0 10px 1rem;
    color: var(--clr-violet);
    @include CountriesFontBold;
  }
}

.job > div > .template-section:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}
