@import "../../mixings.scss";

.searchbar {
  display: flex;
  flex: 1;
  gap: 1rem;
  align-items: center;
  padding: 2rem 0;
  transition: 0.3s;

  .searchbar__clear {
    margin-right: 0.5rem;
    color: var(--clr-violet);
  }

  input {
    @include CountriesFontMediumBold;
    color: var(--clr-text-secondary);
    border: 0;
    background: 0;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1rem;

    &:focus-visible {
      outline: none;
    }
  }

  &:focus-within {
    .searchbar__icon {
      filter: var(--fitler);
    }
  }
}

@media (max-width: 340px) {
  .searchbar__icon {
    display: none;
  }
}
