.header {
  background-image: url("../../assets/desktop/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 8rem;
  background-position: 0 100%;
  min-height: 164px;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
    padding: 4.5rem 0;
  }

  .toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    cursor: pointer;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 23px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: var(--clr-violet);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider:hover:before {
    opacity: 0.7;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

@media (max-width: 1200px) {
  .header {
    .header-wrapper {
      width: 80%;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    background-image: url("../../assets/tablet/bg-pattern-header.svg");
  }
}

@media (max-width: 764px) {
  .header {
    background-image: url("../../assets/mobile/bg-pattern-header.svg");
    border-radius: 0;
  }
}
