@import "../../mixings.scss";

.checkbox {
  @include CountriesFontBold;
  transition-property: none;
  color: var(--clr-text);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 2rem 1rem;
}
