@import "./mixings.scss";

:root {
  --clr-violet: #5964e0;
  --bg-page: #f4f6f8;
  --bg-elements: #fff;
  --clr-text: #19202d;
  --clr-text-secondary: #6e8098;
  --bg-checkbox: #e7e8e9;

  --clr-primary: #5964e0;

  --btn-secondary: #eeeffc;
  --btn-secondary-hover: #c5c9f4;
  --btn-clr-secondary: #5964e0;

  --clr-border-secondary: rgba(109, 127, 151, 0.2);

  --bg-select-hover: #faf9f6;

  --box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

[data-theme="dark"] {
  --clr-violet: #5964e0;
  --bg-page: #121721;
  --bg-elements: #19202d;
  --clr-text: #fff;
  --clr-text-secondary: #6e8098;
  --bg-checkbox: #313743;

  --clr-primary: #5964e0;

  --btn-secondary: #303642;
  --btn-secondary-hover: #696e76;
  --btn-clr-secondary: #fff;

  --clr-border-secondary: rgba(109, 127, 151, 0.5);

  --bg-select-hover: #2b364b;

  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.layout {
  @include CountriesFontMediumBold;
  min-height: 100vh;
  background-color: var(--bg-page);
  color: var(--clr-text);
}
